@import "tailwindcss";
@import "@heroui/styles";

:root {
  --primary-gradient-start: #7c3aed;
  --primary-gradient-end: #2563eb;
}

.bg-main-gradient {
  background: linear-gradient(
    135deg,
    var(--primary-gradient-start),
    var(--primary-gradient-end)
  );
  background-size: 200% 200%;
  transition: all 0.4s ease;
}

.bg-main-gradient:hover {
  background-position: right center;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(124, 58, 237, 0.25);
}
.text-main-gradient {
  background: linear-gradient(
    135deg,
    var(--primary-gradient-start),
    var(--primary-gradient-end)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.border-gradient {
  border: 2px solid transparent;
  border-radius: 12px;

  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(135deg, #7c3aed, #2563eb) border-box;

  transition: all 0.3s ease;
}

.border-gradient:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(124, 58, 237, 0.25);
}
